cluster_managers:
  - cm

network_config:
  subnet: "192.168.219.0/24"
  gateway: "192.168.219.1"
  dns: "1.1.1.1 4.4.4.4"

machines:
  - name: rpicluster-laptop-1
    ip: 192.168.219.201
    detected_ip: null
    role: manager
    containers:
      - storage
      - task_queue
      - runnin_gmate

  - name: rpicluster-rpi3-1
    ip: 192.168.219.202
    detected_ip: null
    role: worker
    containers:
      - runner

  - name: rpicluster-rpi2-1
    ip: 192.168.219.203
    detected_ip: null
    role: worker
    containers:
      - runner

  # - name: rpicluster-rpi2-2
  #   ip: 192.168.1.205
  #   detected_ip: null
  #   role: worker
  #   containers:

  - name: rpicluster-rpi0-1
    ip: 192.168.219.204
    detected_ip: null
    role: worker
    containers:
      - service
      - reverse_proxy
